<% if(errors != '') { %>
  <% errors.forEach((error) => { %>
    <script>openRegisterModal()</script>
    <div class="alert alert-danger"><%- error %></div>
  <% }); %>
<% } %>

<% if(success != '') { %>
  <% success.forEach((item) => { %>
    <script>openLoginModal()</script>
    <div class="alert alert-success"><%- item %></div>
  <% }); %>
<% } %>
